form {
  border: solid 2px orange;
  padding: 10px;
  color: red !important;
  background-color: yellow;
  transition: all 2s linear;
}

li:nth-of-type(even) {
  border: solid 2px orange;
}

p {
  a:hover {
    color: rgb(122, 8, 8);
    background: rgb(199, 215, 214);
  }
}

h1 {
  height: 45px;
  color: navy;
  border: 2px solid orange;
  padding: 5px;
  font-size: 30px;
}
